<h4>Formularios <small>Aproximación por data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">
<!--[ngClass]="{'has-danger': !forma.get('nombre').valid}"-->
  <div formGroupName="nombrecompleto">
    <div class="form-group row fadeIn animated fast" [ngClass]="{'has-danger':!forma.get('nombrecompleto.nombre').valid}" >
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
							 formControlName="nombre"><!-- Para conectar este atributo con el que creamos en el componente .ts -->
				<div *ngIf="forma.controls['nombrecompleto'].controls['nombre'].errors?.required" class="fadeIn animated fast form-control-feedback">
					Campo requerido
				</div>
				<div *ngIf="forma.controls['nombrecompleto'].controls['nombre'].errors?.minlength" class="fadeIn animated fast form-control-feedback">
					Mínimo {{ forma.controls['nombrecompleto'].controls['nombre'].errors?.minlength.requiredLength }} caracteres
				</div>
      </div>
    </div>
		<!--[ngClass]="{'has-danger': !forma.get('apellido').valid}"-->
    <div class="form-group row" [ngClass]="{'has-danger':!forma.get('nombrecompleto.apellido').valid}" >
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
							 formControlName="apellido"><!-- Para conectar este atributo con el que creamos en el componente .ts -->
				
				<div *ngIf="forma.controls['nombrecompleto'].controls['apellido'].errors?.required" class="fadeIn animated fast form-control-feedback">
					Campo requerido
				</div>
				<div *ngIf="forma.get('nombrecompleto.apellido').errors?.minlength" class="fadeIn animated fast form-control-feedback">
					Mínimo {{ forma.controls['nombrecompleto'].controls['apellido'].errors?.minlength.requiredLength }} caracteres
				</div>

      </div>
    </div>
</div>
	<!---->
<div class="form-group row" [ngClass]="{'has-danger': !forma.get('correo').valid}" >
		<label class="col-2 col-form-label">Correo</label>
		<div class="col-8">

			<input class="form-control"
							type="email"
							placeholder="Correo electrónico"
							formControlName="correo"><!-- Para conectar este atributo con el que creamos en el componente .ts -->

			<div *ngIf="forma.controls['correo'].errors?.required" class="fadeIn animated fast form-control-feedback">
					Campo requerido
			</div>

			<div *ngIf="forma.controls['correo'].errors?.pattern" class="fadeIn animated fast form-control-feedback">
					Formato invalido
			</div> 
	</div>
</div>

<div class="form-group row">
	<label class="col-2 col-form-label">Usuario</label>
	<div class="col-8">

		<input class="form-control"
						type="text"
						placeholder="Elija el nombre de su usuario"
						formControlName="username"><!-- Para conectar este atributo con el que creamos en el componente .ts -->
</div>
</div>

<div class="form-group row">
		<label class="col-2 col-form-label">Contraseña</label>
		<div class="col-8">

			<input class="form-control"
							type="password"
							placeholder="Ingrese su password"
							formControlName="password"><!-- Para conectar este atributo con el que creamos en el componente .ts -->

			<!--<div *ngIf="forma.controls['correo'].errors?.required" class="fadeIn animated fast form-control-feedback">
					Campo requerido
			</div>
			<div *ngIf="forma.controls['correo'].errors?.pattern" class="fadeIn animated fast form-control-feedback">
					Formato invalido
			</div> -->
	</div>
</div>

<div class="form-group row">
		<label class="col-2 col-form-label">Confirmación </label>
		<div class="col-8">

			<input class="form-control"
							type="password"
							placeholder="Confirme su password"
							formControlName="confirmPassword"><!-- Para conectar este atributo con el que creamos en el componente .ts -->

			<!--<div *ngIf="forma.controls['correo'].errors?.required" class="fadeIn animated fast form-control-feedback">
					Campo requerido
			</div>
			<div *ngIf="forma.controls['correo'].errors?.pattern" class="fadeIn animated fast form-control-feedback">
					Formato invalido
			</div> -->
	</div>
</div>

<div class="form-group row">
	<label class="col-2 col-form-label">Pasatiempos</label>
	<div class="col-8" formArrayName="pasatiempos">
		<input  *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index"
						placeholder="Agregar pasatiempo" 
						[formControlName]="i" 
						class="form-control" 
						type="text"/>
	</div>
	<button [disabled]="!forma.controls['pasatiempos'].valid"
				  (click)="agregarPasatiempo()"
			  	type="button"
				  class="btn btn-primary">
			Nuevo
	</button>
</div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

	{{ forma.valid }}<hr> {{forma.status}}

</form>
<!--
	Documentación:
	Hay que tener en cuenta que para porder hacer la validación de los formularios de esta forma 
	debemos enlazar los inputs que creamos con los objetos que creamos en el component.ts
	
	 FormGroup: Es la forma en la que le indicamos a angular que vamos a trabar con un formulario
							y que lo vamos a validar por data y lo que debemos hacer es conectar el formulario
							con el objeto que creamos en el .ts con formGroup="nombre", nombre:a sí se debe 
							llamar el objeto que creamos en el componente y formGroup="nombre" lo pondremos
							en la etiqueta <form formGroup = "nombre">
							La foma en la que creamos en el objeto en la parte del componente del .ts es de la 
							siguiente forma: crearemos el un objeto principar que contendrá los demas controles
							o inputs: forma:FormGroup = new FormGroup({});
							En el objeto que le enviaremos le enviamos los controles o inputs de los que estará 
							compuesto el formlario: forma:FormGroup = new FormGroup( {
								nombre: new FormControl('Valor por defecto',Validaciones, Validaciones asincrónicas);
							});
							El valor por defecto es el valor que saldrá cuando carguemos el formulario por si 
							quisieramos cargar información de un usuario para que el la modifique.
							En las validaciones lo haremos con el módulo de Validators de la siguiente manera:
							Validator.reglaDeValidacion
							ejemplo:
								forma:FormGroup = new FormGroup({
									nombre: new FormControl('', Validators.minLength(5));
								});

							Este nombre tambien lo tenemos que anclar con un input en el formulario y lo haremos 
							con la siguiente linea de código en input que queremos anclar:
							FormControlName = "nombre" este nombre debe ser igual en el .ts


	 , FormControl, Validators 
	

-->