<h4>Formularios <small>template</small></h4>
<hr>
<form novalidate="" (ngSubmit)="save(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="5"
               required=""
               placeholder="Nombre"
               #nombre="ngModel">

            
            <div *ngIf="nombre.errors?.required">Campo requerido</div>
            <div *ngIf="nombre.errors?.minlength">Mínimo {{ nombre.errors.minlength.requiredLength }} caracteres</div>
      </div>
      <!--
         Cada vez que vamos a trabajar con la propiedad ngModel es 
         hobligatorio usr la propiedad name
        -->
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               minlength="5"
               required="">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             [(ngModel)]="usuario.correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>