<h4>Formularios <small>template</small></h4>
<hr>
<form novalidate="" (ngSubmit)="save(forma)" #forma="ngForm">

  <div>

    <div class="form-group row" [ngClass]="{ 'error-message': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="5"
               required=""
               placeholder="Nombre"
               #nombre="ngModel">

            
        <div class="error-message animated fast fadeIn" *ngIf="nombre.errors?.required && nombre.touched">Campo requerido</div>
        <div class="error-message animated fast fadeIn" *ngIf="nombre.errors?.minlength && nombre.touched">Mínimo {{ nombre.errors.minlength.requiredLength }} caracteres</div>
      </div>
      <!--
         Cada vez que vamos a trabajar con la propiedad ngModel es 
         hobligatorio usr la propiedad name
        -->
    </div>

    <div class="form-group row" [ngClass]="{'error-message': apellido.errors?.required && apellido.touched }" >
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               required=""
               #apellido="ngModel">

        <div class="error-message animated fast fadeIn" *ngIf="apellido.errors?.required && apellido.touched">Campo requerido</div>
               
      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{'error-message': (correo.errors?.required || correo.errors?.pattern) && correo.touched }">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             [(ngModel)]="usuario.correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel">
      <div class="error-message animated fast fadeIn" *ngIf="correo.errors?.required && correo.touched">Campo requerido</div>
      <div class="error-message animated fast fadeIn" *ngIf="correo.errors?.pattern && correo.touched">Formato de correo incorrecto</div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid" >
        Guardar
      </button>
    </div>
  </div>

</form>